{% extends "base.html" %}
{% block content %}
<div class="container-fluid p-5">
    <div class="row">
        <h1><img src="gstatic/img/logo_big.png" alt="shng_logo" width="150" height="75">&nbsp;SmartHomeNG</h1>
    </div>
    <div class="row">
        <h4>
            http-Modul von SmartHomeNG.
        </h4>
    </div>
    <div class="row">
        <p>
            Diese Seite wird angezeigt, da (noch) keine Weiterleitung in <strong>{{ '../etc/module.yaml' }}</strong> festgelegt wurde
        </p>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header"><strong>Plugins mit Web-Interface:</strong></div>
            <td class="card-body text-shng">
                <table class="table table-striped table-hover">
                  <tbody>
                    {% for webif in webinterfaces.keys() %}
                    <tr><td class="p-2">
                      <a class="text-shng" href="/{{ webif }}">{{ webinterfaces[webif].Webifname }}</a>
                    </td><td class="p-2">
                      {{ webinterfaces[webif].Description }}
                    </td></tr>
                  {% endfor %}
                  </tbody></table>
                </div>
            </div>
        </div>
    </div>
</div> <!-- //container -->
{% endblock %}
