ephem>=3.7
python-dateutil>=2.5.3
psutil
ruamel.yaml>=0.13.7;python_version<'3.7'
ruamel.yaml>0.15.0,<=0.15.74;python_version>='3.7'
#requests: Requirements update to >=2.20.0 due to CVE-2018-18074
requests>=2.20.0
