# lib.orb:
ephem>=3.7

# lib.shtime:
python-dateutil>=2.5.3

# lib.daemon:
psutil

# lib.shyaml:
ruamel.yaml>=0.13.7,<=0.15.74;python_version<'3.7'
ruamel.yaml>0.15.0,<=0.15.74;python_version>='3.7'

# lib.network:
#requests: Requirements update to >=2.20.0 due to CVE-2018-18074
requests>=2.20.0
